<form class="form-horizontal">
    <% list(type.edit, function(prop){ %>
    <% if(!item.instance.isNew() || prop.isEnabled(item.instance.isNew() ? "create" : "update")) { %>
    <div class="control-group">
        <label class="control-label" for="admin-edit-<%= prop.getKey() %>"><%= prop.getName() %></label>
        <div class="controls">
            <%== item.getWidget(prop) %>
            <% var propType = prop.getType() %>
            <% if(propType && propType.canCreate()){ %>
                <a <%= (el) -> el.data("property", prop) %> href="#" class="admin-edit-create">Create new</a>
            <% } %>
        </div>
    </div>
    <% } %>
    <% }) %>
    <% if(type.canUpdate()) { %>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Save</button>
            <% if(this.inline) { %>
            <button class="btn admin-edit-close">Close</button>
            <% } %>
        </div>
    </div>
    <% } %>
</form>
